################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/GloryofGuardian/FileContentIndex/31da1354-edb7-4933-a0ca-e1dde5ce363e.vsidx
/.vs/GloryofGuardian/FileContentIndex
